
.navbar{
    background-color: rgb(190, 231, 229);
    font-size: 20px;
    line-height: 10px;
}
.nav-link{
    color: rgb(19, 17, 17);
    font-weight: 600;
}
.nav-link:hover{
    color: rgb(231, 10, 47);
    border: 2px solid rgb(196, 9, 65);
   
}
.logo{
    color: crimson;
    font-weight: 700;
}
.user-name{
    color: rgb(12, 11, 11);
    text-decoration: none;
    margin-left: 6px;
    font-weight: 600;
}
.logout{
    padding-left: 5px ;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(164, 230, 230, 0.733);
    text-align: center;
    color: rgb(5, 5, 5);
}